[Desktop Entry]
Encoding=UTF-8
Name=Android Emulator
Exec=emulator @Pixel_3a_API_30_x86
Icon=/opt/android-studio/bin/studio.png
Terminal=false
Type=Application
Categories=Development;
